body {
    background-image: url("http://www.lazrabbitsgulag.tk/assets/images/bg1.jpg");
}

div.contentbg {
    background-color: #eee;
}

h1.contentbg {
    text-align: center;
}

h2.contentbg {
    text-align: center;
}