body {
    background-image: url("/assets/images/bg1.jpg");
}

div.contentbg {
    background-color: #eee;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1.contentbg {
    text-align: center;
}

h2.contentbg {
    text-align: center;
}